.techUse{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    
}

.techUse a{
    text-decoration: none;
    color: black;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    margin: 8px 5px;
    
}

.techUse a:hover{
    background-color: azure;
}

.container5 h3{
    display: flex;
    justify-content: center;
    align-items: center;
}